@import './base.css';
@import 'material-symbols/rounded.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid;
	grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;
  }
}

button {
  padding: 5px 5px;
  background-color: var(--color-background-mute);
  color: var(--color-text);
  border: 2px solid var(--color-border);
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button > span {
  margin: 0 5px 0 0;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1;
}
